:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  margin: 0 0 50px;
  text-align: center;
}

.siteTitle {
  font-size: 32px;
  margin: 0 0 10px;
}

.pizzaList {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

.pizza-container {
  border: 1px solid burlywood;
  margin: 0 0 10px;
  padding: 10px;
  list-style: none;
}

.pizza-container h2 {
  margin: 0 0 10px;
}

.pizza-container p {
  margin-bottom: 0;
}

.cartContainer {
  display: inline-block;
  position: relative;
}

.cartDropDown {
  background: white;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 140px;
  text-align: left;
}

.cartDropDown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cartDropDown li {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.cartDropDown li:last-child {
  border-bottom: 0;
}

.cartButton {
  background: none;
  border: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

.cartButton svg {
  margin: 0 5px 0 0;
}

.splcontainer {
  border: 1px solid red;
  margin: 0 0 30px;
  padding: 10px;
}

.splcontainer h2 {
  margin: 0 0 10px;
}
